.landing {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    padding: 8vh 4vw 4vh;
}

.landing__logo {
    align-self: center;
    width: 112px;
    height: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 14vh;
}

.hero__image {
    width: 75%;
    max-width: 350px;
}

.landing__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    gap: 16px;
}

.landing__button {
    outline: none;
    border: none;
    background-color: #62A1EB;
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    width: 100%;
    max-width: 358px;
    min-height: 60px;
    padding: 18px 60px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.file__upload__button:hover,
.landing__button:hover,
.employee__submit:hover,
.laptop__submit:hover {
    background-color: #317AD0;
}

.file__upload__button:focus,
.landing__button:focus,
.employee__submit:focus,
.laptop__submit:focus {
    background-color: #1A5DAB;
}


@media (min-width: 450px) {
    .landing__buttons {
        margin-top: 10vh;
    }
}

@media (min-width: 980px) {
    .landing {
        padding: 7vh 0 14vh;
        justify-content: space-between;
    }

    .hero {
        margin-top: 8vh;
    }

    .hero {
        margin-top: unset;
        margin-bottom: 2%;
    }

    .hero__image {
        width: 40%;
        max-width: unset;
        margin-left: 3vw;
    }

    .landing__buttons {
        margin-top: unset;
        gap: 26px;
    }

    .landing__button {
        max-width: 387px
    }
}