.laptops {
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__title {
    margin: 31px 0 7px;
    font-family: 'Helvetica Neue Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.laptopitem {
    display: flex;
    height: 123px;
    margin-top: 3vh;
    max-width: 358px;
    background-color: #EAFAFF;
    border: 1px solid #AED1EA;
    border-radius: 10px;
}

.laptopitem:last-of-type {
    margin-bottom: 3vh;
}

.laptopitem__image {
    margin: 7px 16px 7px 7px;
    width: 46%;
    border-radius: 6px;
}

.laptopitem__info {
    display: flex;
    flex-direction: column;
}

.laptopitem__owner {
    margin-top: 19px;
    font-family: 'Helvetica Neue Medium', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
}

.laptopitem__name {
    margin: 8px 0 11px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2E2E2E;
}

.laptopitem__link {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #4386A9;
}

@media (min-width: 450px) {
    .laptopitem {
        height: 140px;
        max-width: 400px;
    }

}

@media (min-width: 980px) {

    .page__title {
        margin: 74px 0 38px;
        font-family: 'Helvetica Neue Bold', sans-serif;
        font-weight: 700;
        font-size: 34px;
        line-height: 21px;
        text-align: center;
    }

    .laptops {
        padding: 0 19vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 2vw;
        column-gap: 5vh;
    }

    .laptopitem {
        width: 560px;
        max-width: unset;
        height: 205px;
        border-radius: 20px;
    }

    .laptopitem__image {
        margin: 14px 28px 14px 14px;
        width: 266px;
        height: 178px;
        border-radius: 10px;
    }

    .laptopitem__owner {
        margin-top: 45px;
        font-size: 18px;
    }

    .laptopitem__name {
        margin: 18px 0 40px;
    }

    .laptopitem__link {
        font-size: 16px;
    }
}

