.success__modal {
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
}

.success__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success__confetti {
    padding-left: 44px;
}

.success_text {
    width: 164px;
    font-family: "Helvetica Neue Bold", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 39px;
    text-align: center;
}

.success__nextbtn {
    width: 90vw;
    max-width: 297px;
    min-height: 60px;
    padding: 18px 65.5px;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    background-color: #62A1EB;
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.success__homebtn {
    margin-top: 28px;
    color: #0089A7;
    font-family: 'Helvetica Neue Medium', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}


@media (min-width: 450px) {
    .success__homebtn,
    .success__nextbtn {
        font-size: 28px;
    }

    .success_text {
        font-size: 28px;
        width: 290px;
    }

    .success__confetti {
        width: 150%;
    }
}


@media (min-width: 980px) {

    .success {
        background-color: #4A4A4A;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .success__modal {
        width: 70vw;
        max-width: 847px;
        height: 80vh;
        max-height: 537px;
        justify-content: space-around;
    }

    .success__confetti {
        width: 90%;
    }

    .success__homebtn,
    .success__nextbtn {
        font-size: 20px;
    }

    .success_text {
        width: unset;
        font-size: 25px;
        line-height: 31px;
    }

    .success__homebtn {
        font-family: 'Helvetica Neue Medium', sans-serif;
    }

}